@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0.5rem 0;
}

html {
  /* background: rgb(1, 153, 181);
  background: radial-gradient(
    at top center,
    rgba(1, 153, 181, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  ); */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('../img/background-1920x1080-hi.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html {
    background-image: url('../img/background-3840x2160-hi.png');
  }
}

.sidebar {
  width: 23.75%;
  min-width: 300px;
}

.sidebar .logo {
  height: 7.5vh;
  padding-top: 5vh;
  padding-bottom: 7.5vh;
}

.sidebar .user {
  height: 7.5vh;
  padding-top: 5vh;
  padding-bottom: 7.5vh;
}

.sidebar .add {
  height: 7.5vh;
  padding-bottom: 7.5vh;
}

.sidebar .logo .sidebar-content {
  padding-left: 0;
  padding-right: 0;
}

.sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar-content {
  flex-grow: 1;
  padding: 0 1rem;
}

.sidebar-action {
  width: 40%;
  max-width: 75px;
  padding-left: 1rem;
}

.sidebar-action i {
  font-size: 1.5rem;
}

.main {
  width: 76.25%;
}

html,
body {
  height: 100vh;
}

.logo-text {
  flex-grow: 1;
  color: #01335e;
  font-size: 2rem;
  font-weight: 900;
  border: solid 4px #01335e;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
  text-align: center;
}

.form-pre-item {
  border: 2px solid #fff;
  background: pink;
  padding: 2em;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
}

.form-pre-item::before {
  background: none;
  border: 2px solid #fff;
  border-radius: 9999px;
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.form-post-item {
  border: 2px solid #fff;
  padding: 2em;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
}

.sidebar .icon.add {
  border: solid 2px #fff;
  border-radius: 9999px;
  padding: 2px;
}

.sidebar .icon.add i {
  font-size: 15px;
  padding: 3px;
}

.main .back {
  font-size: 1.5rem;
  border: solid 2px #fff;
  border-radius: 9999px;
  padding: 6px;
}

.main .back i {
  padding: 8px;
}
.form-post-item::before {
  background: none;
  border: 2px solid #fff;
  border-radius: 9999px;
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.label-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.label-wrapper button {
  position: absolute;
  background: pink;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 9999px;
  width: 3rem;
  z-index: -1;
}

.label-pre {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
}

.label-wrapper.sm .label-pre {
  padding: 0.75rem;
}

.label-wrapper.empty .label-pre {
  border-color: transparent;
}

.label-pre::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.label-wrapper.empty .label-pre::before {
  border-color: transparent;
}

.label-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1400px) {
  .label-wrapper.sm .label-text {
    padding-left: 0 !important;
  }
}

.label-wrapper.sm .label-text {
  font-size: 1rem;
  justify-content: left;
  padding-left: 1rem;
}

.label-wrapper.empty .label-text {
  border-color: transparent;
}

.label-post {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
}

.label-wrapper.empty .label-post {
  border-color: transparent;
}

.label-wrapper.sm .label-post {
  padding: 0.75rem;
}

.label-post::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.label-wrapper.empty .label-post::before {
  border-color: transparent;
}

.disabled i,
.disabled .icon,
.disabled .label-text,
.disabled .label-post,
.disabled .label-pre {
  opacity: 0.4;
}

.selection-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.selection-text {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.selected .selection-text {
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;
}

.selection-wrapper.sm .selection-text {
  font-size: 0.75rem;
  padding-left: 0;
}

.selected .selection-text::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #fff;
}

.selection-pre {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
}

.selected .selection-pre {
  border: 4px solid #fff;
  border-right: none;
}

.selection-pre::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.selected .selection-pre::before {
  border: 4px solid #fff;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-right: none;
}

.selected .selection-pre::after {
  content: ' ';
  display: block;
  position: absolute;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #fff;
  z-index: -1;
}

.selected .selection-post::after {
  content: ' ';
  display: block;
  position: absolute;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #fff;
  z-index: -1;
}

.selection-post {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
}

.selected .selection-post {
  border: 4px solid #fff;
  border-left: none;
}

.selection-post::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-radius: 9999px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.selected .selection-post::before {
  border: 4px solid #fff;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.selection-post .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.button-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.button-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled .button-text,
.disabled .button-post,
.disabled .button-pre {
  opacity: 0.4;
}

.button-wrapper.sm .button-text {
  font-size: 1rem;
}

.button-pre {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
}

.button-wrapper.sm .button-pre {
  padding: 0.75rem;
}

.button-pre::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-radius: 9999px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.button-pre .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.button-post {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
}

.button-wrapper.sm .button-post {
  padding: 0.75rem;
}

.selected .icon {
  background-color: #4ba35a;
}

.input-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.input-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-pre {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: none;
}

.input-pre::before {
  background: none;
  border: 2px solid #fff;
  content: '';
  border-radius: 9999px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.input-text input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.input-text input::placeholder {
  color: #fff;
  /* opacity: 0.4; */
}

.input-pre .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.input-post {
  flex-grow: 0;
  border: 2px solid #fff;
  padding: 1.5rem;
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: none;
}
