*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0.5rem 0;
}

html {
  background: rgb(1, 153, 181);
  background: radial-gradient(at top center, rgba(1, 153, 181, 1) 0%, rgba(2, 0, 36, 1) 100%);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100vh;
  width: 100%;
}
.logo {
  margin-top: 7.5vh;
  width: 300px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
div#api {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.entry-item {
  display: flex;
  flex-direction: column;
}
.entry-item label {
  display: none;
}
.divider,
h2 {
  display: none;
}
input {
  border: solid 2px #fff;
  border-radius: 180px;
  background: none;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
input::placeholder {
  color: #fff;
}
.heading {
  order: 1;
}
.localAccount {
  order: 2;
}
.social {
  order: 3;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 180px;
  font-size: 1rem;
  border: 2px solid #fff;
}
a:hover {
  text-decoration: underline;
}
